services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${TOTPHOG_PORT:-8045}:80"
    environment:
      - APP_ENV=dev
      - APP_DEBUG=1
      - APP_SECRET=${APP_SECRET:-}
    restart: unless-stopped
