site_name: TOTPHog
site_description: A self-hosted TOTP code manager for development and testing
site_url: https://damianovsky.github.io/totphog
repo_url: https://github.com/damianovsky/totphog
repo_name: damianovsky/totphog

theme:
  name: material
  palette:
    - scheme: default
      primary: pink
      accent: pink
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: pink
      accent: pink
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Inter
    code: JetBrains Mono
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.top
    - search.highlight
    - content.code.copy
    - content.tabs.link
  icon:
    repo: fontawesome/brands/github
  logo: assets/logo.svg
  favicon: assets/logo.svg

plugins:
  - search
  - swagger-ui-tag

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - tables
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - API Reference: api.md
  - Configuration: configuration.md
  - Architecture: architecture.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/damianovsky/totphog
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/damianovsky/totphog
